name: Bump version
on:
  push:
    branches:
      - main
      - develop
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Custom Tag Increment
        id: hello
        uses: ntomilin/TagBumper@v1.2
